# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/

# Distribution / packaging
build/
dist/
*.egg-info/

# PyInstaller
*.manifest

# User / OS files
.DS_Store
Thumbs.db
*.tmp
*.m3u
